name: Test
on:
  pull_request:
    types: [opened, reopened, ready_for_review]
    branches: [main]

jobs:
  test_changes:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install selenium
        pip install browserstack-sdk
    - name: Test with selenium
      run: |
         python ./testing/main.py
