name: Test
on:
  pull_request:
    branches: [main]

jobs:
  test_changes:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
    - name: 'Checkout repo'
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18.15.0'

    - name: Download and extract Chromium
      run: |
          Invoke-WebRequest "https://github.com/macchrome/chromium/releases/download/v107.0.5282.0-r1043032-Win64/chromium-107.0.5282.0-1_sync_Win64.7z" -OutFile "chromium.7z"
          7z x chromium.7z -o"%ProgramFiles(x86)%\Chromium" -y
          
    - name: Add Chromium to path
      run: |
          $chromiumPath = "${env:ProgramFiles(x86)}\Chromium"
          $env:Path += ";$chromiumPath"
          Write-Host "Chromium path: $chromiumPath"
  
    - name: Install dependencies
      run: npm ci 

    - name: Setup dev server
      run: npm run start &

    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install selenium
        pip install browserstack-sdk
        
    - name: Test with selenium
      run: |
         python ./testing/main.py
